---
---

@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";

#downloads {
    .service-box img {
        width: 100%;
    }
    a img {
        margin-top: 48px;
        width: 189px;
    }
}
